 <div class="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <br>  
              <a (click)="home()">Home</a>
              |
              <a (click)="pulse()">Pulse</a>
              |
              <a (click)="search()">Search</a>
              |
              <a (click)="profile()">Profile</a>
              <br>
              <br>
          </span>
        </div>
      </div>
    </div>
    <br>
    <br>
<div class="video">
<md-card>    
<h1 style="color: lawngreen">{{title}}</h1>
<iframe width="auto" height="auto"
[src]="url" allowfullscreen="allowfullscreen" frameborder="0" marginwidth="0" marginheight="0" 
mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" 
webkitallowfullscreen="webkitallowfullscreen">
</iframe>
<br>
<br>
<button class="button" md-raised-button (click)="twoThumbsUp()">Two Thumbs Up</button>
<p style="color: lawngreen">Two Thumbs Up: {{ (votecount | async)?.length }}</p>
<p>{{description}}</p>
</md-card>
</div>
<div class="div">
  <md-input style="color: white" class="inputs" id="comment" [(ngModel)]="comment" type="text" name="comment" placeholder="post a comment"></md-input>
  <br>
<button md-raised-button style="background: lawngreen" (click)="post()">Post Comment</button>
 <p style="color: lawngreen">Comments: {{ (postcount | async)?.length }}</p>
<md-card *ngFor="let comment of comments | async">
  <a href="/user/{{comment.uid}}" style="color: lawngreen">
  <h4>{{comment.username}}</h4>
  <h5>{{comment.comment}}</h5>
  </a>
  </md-card>
  </div>


