 <div id="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <button class="button" md-raised-button (click)="home()">Home</button>
              |
              <button class="button" md-raised-button (click)="pulse()">Pulse</button>
              |
              <button class="button" md-raised-button (click)="search()">Search</button>
              |
              <button class="button" md-raised-button (click)="profile()">Profile</button>
          </span>
        </div>
      </div>
    </div>
<h1>People you are following</h1>
<md-card *ngFor="let followee of followees | async">
    <h3>{{followee.followee_username}}</h3>
</md-card>