<div class="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <br>  
              <a (click)="home()">Home</a>
              |
              <a (click)="pulse()">Pulse</a>
              |
              <a (click)="search()">Search</a>
              |
              <a (click)="profile()">Profile</a>
              <br>
              <br>
          </span>
        </div>
      </div>
</div>
<md-card class="top">
<h1>People you are following</h1>
</md-card>
<md-card *ngFor="let followee of followees | async">
    <a href="/user/{{followee.followee_uid}}">
    <h3>{{followee.followee_username}}</h3>
    </a>
</md-card>