<button md-raised-button (click)="welcomeScreen()">Back</button>
<p>Please enter you GoPulse account information</p>
   <md-input id="txtEmail" [(ngModel)]="email" type="email" name="email" placeholder="email"></md-input>
  <br>
  <br>
  <md-input id="txtPassword" [(ngModel)]="password" type="password" name="password" placeholder="password"></md-input>
  <br>
  <br>
  <button class="button" md-raised-button (click)="login()">Login</button>
  <br>
  <br>
  <button class="button" md-raised-button (click)="logout()">Logout</button>
