.header {
    background-color: lawngreen;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.center {
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
