<header class="header">
<a class="backbutton" (click)="login()">< Login</a>
</header>
<div class="center">
<br>
<br>
<p style="color: white">Enter the email you used to create your account and we will send you an email to reset your password</p>
<br>
<br>
<md-input id="email" style="color: white" [(ngModel)]="email" type="email" name="email" placeholder="email"></md-input>
<br>
<br>
<button class="button" style="background: lawngreen" md-raised-button (click)="resetPassword()">Submit</button>
<br>
<br>
<p style="color: white">If you did not recieve your password reset email please contact me directly at tom@gopulse.io</p>
</div>



