<header class="header">
  <br>
  <a class="backbutton" (click)="welcomeScreen()">Back</a>
  <br>
  <br>
</header>
<div class="grey">
  <md-input class="inputs" id="fullname" [(ngModel)]="fullname" type="text" name="fullname" placeholder="fullname"></md-input>
  <br>
  <br>
  <md-input class="inputs" id="displayName" [(ngModel)]="displayName" type="text" name="displayName" placeholder="username"></md-input>
  <br>
  <br>
  <md-input class="inputs" id="txtEmail" [(ngModel)]="email" type="email" name="email" placeholder="email"></md-input>
  <br>
  <br>
  <md-input class="inputs" id="txtPassword" [(ngModel)]="password" type="password" name="password" placeholder="password"></md-input>
  <br>
  <br>
  <button class="button" md-raised-button id="btnSignUp" (click)="createUser()" type="button" name="signup">Sign Up</button>
</div>
