.header {
    background-color: lawngreen;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.center {
    text-align: center;
}

.footer {
    position: relative;
    bottom: 2px;
    color: white;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}