<header class="header">
  <a class="backbutton" (click)="welcomeScreen()">< Welcome Screen</a>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="center">
  <md-input class="inputs" style="color: white" id="fullname" [(ngModel)]="fullname" type="text" name="fullname" placeholder="fullname"></md-input>
  <br>
  <br>
  <md-input class="inputs" style="color: white" id="displayName" [(ngModel)]="displayName" type="text" name="displayName" placeholder="username"></md-input>
  <br>
  <br>
  <md-input class="inputs" style="color: white" id="txtEmail" [(ngModel)]="email" type="email" name="email" placeholder="email"></md-input>
  <br>
  <br>
  <md-input class="inputs" style="color: white" id="txtPassword" [(ngModel)]="password" type="password" name="password" placeholder="password"></md-input>
  <br>
  <br>
  <button class="button" style="color: white" md-raised-button style="background: lawngreen" id="btnSignUp" (click)="createUser()" type="button" name="signup">Sign Up</button>
  <br>
  <br>
  <br>
  <br>
  <br>  
  <br>
  <footer class="footer">
  <br>
  <a class="backbutton" (click)="about()">About</a>
  <br>
  <a class="backbutton" (click)="contact()">Contact</a>
  <br>
  <a class="backbutton" (click)="terms()">Terms and Conditions</a>
  <br>
  <a class="backbutton" (click)="privacy()">Privacy Policy</a>
  </footer>
</div>
