<div class="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <br>  
              <a (click)="home()">Home</a>
              |
              <a (click)="pulse()">Pulse</a>
              |
              <a (click)="search()">Search</a>
              |
              <a (click)="profile()">Profile</a>
              <br>
              <br>
          </span>
        </div>
      </div>
</div>
 <md-card class="info">
    <h1>{{ displayName?.fullname }}</h1>
    aka: {{ displayName?.displayName }}
    <br>  
    {{ displayName?.email }}
 </md-card>
 <md-card style="text-align: center">
<button md-raised-button style="color: black" style="background: lawngreen" (click)="signOut()">Log Out</button>
<button md-raised-button style="color: black" style="background: lawngreen" (click)="followers()">Followers</button>
<button md-raised-button style="color: black" style="background: lawngreen" (click)="followees()">Followees</button>
 </md-card>
<div class="videos"> 
<h1>Your Activity</h1>
      <md-card *ngFor="let active of activity | async">
      <a href="/user/{{active.uid}}" style="color: lawngreen"></a><span>You gave this video two thumbs up</span>
      <a href="/videos/{{active.vid}}" style="color: lawngreen">
      <div>
      <h3>{{active.videoTitle}}</h3>
      <img style="height: 90px" style="width: 160px" [src]="active.thumbnail"/>
      </div>
      </a>
    </md-card>
    <md-card *ngFor="let vote of votes | async">
      <a href="/user/{{vote.uid}}" style="color: lawngreen"></a><span>You gave this video two thumbs up</span>
      <a href="/videos/{{vote.vid}}" style="color: lawngreen">
      <div>
      <h3>{{vote.videoTitle}}</h3>
      <img style="height: 90px" style="width: 160px" [src]="vote.thumbnail"/>
      </div>
      </a>
    </md-card>
<md-card *ngFor="let post of posts | async">
    <a href="/user/{{post.uid}}" style="color: lawngreen"></a><span>You gave this video two thumbs up and left a comment</span>
    <a href="/videos/{{post.vid}}" style="color: lawngreen">
    <div>
    <h3>{{post.videoTitle}}</h3>
    <img style="height: 90px" style="width: 160px" src={{post.thumbnail}}>
    <p>{{ post.comment }}</p>
    </div>
