.header {
    background-color: lawngreen;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
}

.top {
    color: white;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.buttons {
    text-align: center;
}