<div class="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <br>  
              <a (click)="home()">Home</a>
              |
              <a (click)="pulse()">Pulse</a>
              |
              <a (click)="search()">Search</a>
              |
              <a (click)="profile()">Profile</a>
              <br>
              <br>
          </span>
        </div>
      </div>
    </div>
<div class="top">    
<h1>Search</h1>
</div>
<div class="buttons">
<button routerLink="usersearch" md-raised-button style="text-align: center" style="color: black" style="background: lawngreen">Users</button>
<button routerLink="videosearch" md-raised-button style="text-align: center" style="color: black" style="background: lawngreen">Videos</button>
</div>
<router-outlet></router-outlet>
