 <div class="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <br>  
              <a (click)="home()">Home</a>
              |
              <a (click)="pulse()">Pulse</a>
              |
              <a (click)="search()">Search</a>
              |
              <a (click)="profile()">Profile</a>
              <br>
              <br>
          </span>
        </div>
      </div>
    </div>
 <div class="videos"> 
<div class="center">
<p>This is a beta release. There are known bugs and there may be data loss. Please contact me at tom@gopulse.io with any questions or issues.</p>
<p>If you've just signed up you can find users or videos or both in the Search tab above.</p>
<p>Inviting a handful of friends or family to signup and follow each other will create an engaging experience very quickly.</p>
</div>
<h1>Activity</h1>
  <md-card *ngFor="let active of activity | async">
      <a href="/user/{{active.uid}}" style="color: lawngreen">{{active.username}}</a><span>gave this video two thumbs up</span>
      <a href="/videos/{{active.vid}}" style="color: lawngreen">
      <div>
      <h3>{{active.videoTitle}}</h3>
      <img style="height: 90px" style="width: 160px" [src]="active.thumbnail"/>
      <p>{{active.comment}}</p>
      </div>
      </a>
    </md-card>
 </div>