 <div id="header">
      <a class="home-link" routerLink="/news/1" routerLinkActive="active" (click)="scrollTop()"></a>
      <div class="header-text">
        <div class="left">
          <span class="header-nav">
              <button class="button" md-raised-button (click)="home()">Home</button>
              |
              <button class="button" md-raised-button (click)="pulse()">Pulse</button>
              |
              <button class="button" md-raised-button (click)="search()">Search</button>
              |
              <button class="button" md-raised-button (click)="profile()">Profile</button>
          </span>
        </div>
      </div>
    </div>
<h1>Activity</h1>
<md-card *ngFor="let vote of votes | async">
    <a href="/user/{{vote.uid}}"><span>{{vote.username}}</span></a><span> gave this video two thumbs up</span>
    <a href="/videos/{{vote.vid}}">
    <div>
    <h3>{{vote.videoTitle}}</h3>
    <img src={{vote.thumbnail}}>
    <div> {{ (votes | async).length }} </div>
    </div>
    </a>
</md-card>